* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #4c6b47;
    --second-bg-color: #e8ba3c;
    --text-color: white;
    --main-color: white;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;/*НЕВИДИМАЯ ПАНЕЛЬ*/
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;/*ВЫРАВНИВАЕТ ПАНЕЛЬ НАВИГАЦИИ ПО ЦЕНТРУ*/
}

.header.sticky {
    background: #2a4a23;
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #e8ba3c;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .6px #e8ba3c;
}

.home-content p {
    font-size: 1.8rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid #e8ba3c;
    border-radius: 7px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e8ba3c;
    z-index: -1;
    transition: .5s;
}



.btn-box .btn:hover::before {
    width: 100%;
}

.home-social {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-social a { /*I don't want yellow effect here is you asking */
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #2a4a23;
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--second-bg-color);
}

.about_img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img img {
    width: 90%;
    border-radius: 50%;
    border: .3rem solid var(--second-bg-color);
}

.about_img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--text-color);
    border-right: .2rem solid var(--text-color);
}

.about_content {
    text-align: center;
}

.about_content h3 {
    font-size: 4rem;
}

.about_content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

/*EDUCATION*/
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5re;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 3.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: 7px;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2a4a23;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.9rem;
    /*color: var(--second-bg-color);*/
    padding-bottom: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    padding-top: .5rem;
}

/*SKILLS*/
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: #2a4a23;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 3.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: 7px;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4c6b47;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content  .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content  .progress .bar {
    height: 2.5rem;
    border-radius: 7px;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 2.8rem 0;
}

.skills-content  .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(3) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(3) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(3) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(3) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

.skills-column:nth-child(3) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

/*CONTACT*/
.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 11.8rem auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    background: transparent;
    border-radius: 7px;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--main-color);
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #2a4a23;
}

.footer-text p {
    font-size: 1.6rem;
    color: #e8ba3c;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border: .2rem solid #e8ba3c;
    border-radius: 50%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #e8ba3c;
}

